head
    title= `${h.siteName}`
    link(rel='stylesheet', href='dist/style/layout.css')
    link(rel="stylesheet", href="dist/style/inscription.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
body
    block content
        main
            block messages
                if locals.flashes
                    .innerB
                        .flash-messages
                            - const categories = Object.keys(locals.flashes)
                            each category in categories
                                each message in flashes[category]
                                    .flash(class=`flash--${category}`)
                                        p.flash__text!= message
                                        button.flash__remove(onClick="this.parentElement.remove()") &times;
            .logo
                a(href="/")
                    img(src="dist/ressources/LOGO1.png")
            .container
                form(action="/connexion" method="POST")
                    .title
                        h2 Connexion
                    .reponse
                        label(for="email") Email
                        input(type="email" name="email")
                        label(for="password") Mot de passe
                        input(type="password" name="password")
                        input(type="submit" value="Connexion")
                p Si tu n'as pas de compte inscris toi 
                    a(href="/inscription") ici
                p Si tu as oublié ton mot de passe 
                    a(href="/forgot") clique ici    