extends email-layout

block content
  h2 Changement de mot de passe
  p Bonjour. vous avez demander une reinitialisation de votre mot de passe. Cliquez sur le lien pour accéder à la page de reinitialisation du mot de passe, veuillez noter que ce lien n'est valable qu'une heure
  +button(resetURL, 'Reinitialiser mon mot de passe →')
  p Si vous ne pouvez pas cliquer sur notre lien, veuillez vous rendre à l'adresse suivante  #{resetURL}
  br
  p Si vous n'avez pas demandé cette réinitialisation, veuillez ignorer ce message.
