mixin reviewCard(review)
    .contain
        .authorinfo
            span #{review.authorName}
            p a écrit le #{review.created}
        .reviewinfo
            p note : #{review.rating}/5
            p #{review.text}